<!-- <section class="sellers">
  <div class="container"></div>
</section> -->

<header class="header">
			<div class="container">
				<nav class="header-navigation">
					<a href="./index.html" class="heder-logo link"
						><span class="logo-one">WEB</span
						><span class="logo-two">STUDIO</span></a
					>
					<ul class="header-list list">
						<li class="heder-item">
							<a href="./index.html" class="header-link current link">Studio</a>
						</li>
						<li class="heder-item">
							<a href="./portfolio.html" class="header-link link">Portfolio</a>
						</li>
						<li class="heder-item">
							<a href="/" class="header-link link">Contacts</a>
						</li>
					</ul>
				</nav>
				<ul class="header-contact list">
					<li class="contact-item">
						<a href="mailto:info@devstudio.com" class="header-mail link"
							>info@devstudio.com</a
						>
					</li>
					<li class="contact-item">
						<a href="tel:+110001111111" class="header-tel link"
							>+11 (000) 111-11-11</a
						>
					</li>
				</ul>
