/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* <!------- Reset -------> */
@import url('./reset.css');

/* <!----- Header  ------> */
/* @import url('./.css'); */

/* <!------- Hero  -------> */
/* @import url('./.css'); */

/* <!---- Advantages  ----> */
/* @import url('./.css'); */

/* <!-- Unique components  --> */
/* @import url('./.css'); */

/* <!---- How its made?  -----> */
/* @import url('./.css'); */

/* <!---- Our products  -----> */
/* @import url('./.css'); */

/* <!---- Top sellers  -----> */
/* @import url('./.css'); */

/* <!---- Reviews  -----> */
/* @import url('./.css'); */

/* <!---- Subscribe -----> */
/* @import url('./.css'); */

/* <!---- Footer -----> */
/* @import url('./.css'); */

/* <!------- Modal --------> */
/* <!------- Buy now ------> */
/* @import url('./.css'); */

/* <!---- Leave a review about our chocolate ----> */
/* @import url('./.css'); */

/* <!---- Explore our new chocolate first ----> */
/* @import url('./.css'); */

:root {
  --sec-font: 'Roboto', sans-serif;
  /* --------Accent------ */
  --accent-color: #fd9222;
  /* --------Title------- */
  --pr-title-color: #ffffff;
  --sec-title-color: #111111;
  /* ----Description----- */
  --pr-description-color: rgba(17, 17, 17, 0.7);
  --sec-description-color: rgba(255, 255, 255, 0.7);
  /* --------Text-------- */
  --pr-text-color: #111111;
  --sec-text-color: #ffffff;
  /* ------BG-color------ */
  --pr-bg-color: #e2e2e2;
  --sec-bg-color: #1e1823;
  /* ------BTN------ */
  --pr-hover-color: rgba(252, 241, 224, 1);
  --sec-hover-color: rgba(30, 24, 35, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
